<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Strendor{% endblock %}</title>
</head>
{% block body %}
    <body>
        {% block header %}
            <header>
                <nav>
                    <a href="">home</a>
                    <a href="">learn</a>
                    <a href="">about</a>
                </nav>
            </header>
        {% endblock %}
        {% block main %}

        {% endblock %}
    </body>
{% endblock %}
</html>